<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="react-navigation"></div>
    <div class="container body-content" id="react-index"></div>

    @RenderBody()
    @Scripts.Render("~/bundles/libs")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/app")
    <script type="text/babel" src="~/Scripts/Views/Navigation.jsx"></script>
    <script type="text/babel" src="~/Scripts/Views/Index.jsx"></script>
</body>
</html>
    